# Step 1: Extract

In [1]:
import pandas as pd

## Extract data from CSV

In [131]:
productsDF = pd.read_csv("products_data.csv")
ordersDF = pd.read_csv("orders_data.csv")
usersDF = pd.read_csv("users_data.csv")

In [132]:
ordersDF

    UserID            OrderDate  TotalAmount              Email
0        8          InvalidDate          NaN  user8@example.com
1        4  2024-08-02 00:00:00       365.00  user4@example.com
2        1  2024-08-03 00:00:00       446.59  user1@example.com
3        8  2024-08-04 00:00:00       866.02  user8@example.com
4        4  2024-08-05 00:00:00       385.23  user4@example.com
5        6  2024-08-06 00:00:00       252.54  user6@example.com
6        8  2024-08-07 00:00:00       601.12  user8@example.com
7        4          InvalidDate       942.54  user4@example.com
8        3  2024-08-09 00:00:00       726.43  user3@example.com
9        9  2024-08-10 00:00:00       613.06  user9@example.com
10       3  2024-08-11 00:00:00          NaN  user3@example.com
11       9  2024-08-12 00:00:00       187.46  user9@example.com
12       2  2024-08-13 00:00:00       653.51  user2@example.com
13       2  2024-08-14 00:00:00       991.05  user2@example.com
14       2          InvalidDate       226.08  user2@example.com
15       6  2024-08-16 00:00:00       566.50  user6@example.com
16       3  2024-08-17 00:00:00       889.64  user3@example.com
17       9  2024-08-18 00:00:00       766.69  user9@example.com
18       4  2024-08-19 00:00:00       727.31  user4@example.com
19       1  2024-08-20 00:00:00       732.24  user1@example.com
20       4  2024-08-21 00:00:00          NaN  user4@example.com
21       1          InvalidDate       423.54  user1@example.com
22       5  2024-08-23 00:00:00       364.23  user5@example.com
23       4  2024-08-24 00:00:00       828.43  user4@example.com
24       8  2024-08-25 00:00:00       829.10  user8@example.com
25       8  2024-08-26 00:00:00       880.37  user8@example.com
26       7  2024-08-27 00:00:00       921.92  user7@example.com
27       3  2024-08-28 00:00:00       560.21  user3@example.com
28       1          InvalidDate       551.36  user1@example.com
29       1  2024-08-30 00:00:00       818.47  user1@example.com
30       3  2024-08-31 00:00:00          NaN  user3@example.com
31       6  2024-09-01 00:00:00       684.97  user6@example.com
32       7  2024-09-02 00:00:00       731.77  user7@example.com
33       6  2024-09-03 00:00:00       816.21  user6@example.com
34       6  2024-09-04 00:00:00       901.00  user6@example.com
35       6          InvalidDate       404.20  user6@example.com
36       3  2024-09-06 00:00:00       438.02  user3@example.com
37       6  2024-09-07 00:00:00       184.58  user6@example.com
38       8  2024-09-08 00:00:00       620.45  user8@example.com
39       2  2024-09-09 00:00:00       132.35  user2@example.com
40       5  2024-09-10 00:00:00          NaN  user5@example.com
41       1  2024-09-11 00:00:00       519.04  user1@example.com
42       1          InvalidDate       588.38  user1@example.com
43       5  2024-09-13 00:00:00       357.89  user5@example.com
44       3  2024-09-14 00:00:00       631.75  user3@example.com
45       4  2024-09-15 00:00:00       127.45  user4@example.com
46       3  2024-09-16 00:00:00       133.61  user3@example.com
47       1  2024-09-17 00:00:00       840.34  user1@example.com
48       1  2024-09-18 00:00:00       424.17  user1@example.com
49       5          InvalidDate       214.35  user5@example.com
50       6  2024-09-20 00:00:00          NaN  user6@example.com
51       3  2024-09-21 00:00:00       570.02  user3@example.com
52       9  2024-09-22 00:00:00       792.99  user9@example.com
53       5  2024-09-23 00:00:00       294.24  user5@example.com
54       8  2024-09-24 00:00:00       660.60  user8@example.com
55       1  2024-09-25 00:00:00       176.81  user1@example.com
56       5          InvalidDate       146.51  user5@example.com
57       3  2024-09-27 00:00:00       578.22  user3@example.com
58       1  2024-09-28 00:00:00       586.57  user1@example.com
59       4  2024-09-29 00:00:00       673.69  user4@example.com

## Extract data from XLSX

In [133]:
paymentsDF = pd.read_excel("payments_data.xlsx")
reviewsDF = pd.read_excel("reviews_data.xlsx")

In [134]:
paymentsDF

    OrderID  PaymentMethod PaymentDate  Amount
0      1001  InvalidMethod         NaT     NaN
1      1002    Credit Card  2024-08-02  753.48
2      1003    Credit Card  2024-08-03  978.27
3      1004  InvalidMethod  2024-08-04  564.67
4      1005    Credit Card  2024-08-05  390.66
5      1006    Credit Card         NaT  815.67
6      1007  InvalidMethod  2024-08-07  343.75
7      1008    Credit Card  2024-08-08  495.07
8      1009    Credit Card  2024-08-09  170.61
9      1010  InvalidMethod  2024-08-10  122.82
10     1011    Credit Card         NaT     NaN
11     1012    Credit Card  2024-08-12  966.38
12     1013  InvalidMethod  2024-08-13  852.38
13     1014    Credit Card  2024-08-14  726.38
14     1015    Credit Card  2024-08-15  468.06
15     1016  InvalidMethod         NaT  255.96
16     1017    Credit Card  2024-08-17  240.79
17     1018    Credit Card  2024-08-18  325.22
18     1019  InvalidMethod  2024-08-19  594.30
19     1020    Credit Card  2024-08-20  743.14
20     1021    Credit Card         NaT     NaN
21     1022  InvalidMethod  2024-08-22  694.18
22     1023    Credit Card  2024-08-23  351.94
23     1024    Credit Card  2024-08-24  959.38
24     1025  InvalidMethod  2024-08-25  764.11
25     1026    Credit Card         NaT  598.92
26     1027    Credit Card  2024-08-27  650.55
27     1028  InvalidMethod  2024-08-28  477.64
28     1029    Credit Card  2024-08-29  322.96
29     1030    Credit Card  2024-08-30  420.38
30     1031  InvalidMethod         NaT     NaN
31     1032    Credit Card  2024-09-01  782.06
32     1033    Credit Card  2024-09-02  112.95
33     1034  InvalidMethod  2024-09-03  204.47
34     1035    Credit Card  2024-09-04  141.40
35     1036    Credit Card         NaT  136.66
36     1037  InvalidMethod  2024-09-06  869.91
37     1038    Credit Card  2024-09-07  733.29
38     1039    Credit Card  2024-09-08  526.76
39     1040  InvalidMethod  2024-09-09  188.05
40     1041    Credit Card         NaT     NaN
41     1042    Credit Card  2024-09-11  542.45
42     1043  InvalidMethod  2024-09-12  526.12
43     1044    Credit Card  2024-09-13  255.88
44     1045    Credit Card  2024-09-14  490.47
45     1046  InvalidMethod         NaT  458.65
46     1047    Credit Card  2024-09-16  654.27
47     1048    Credit Card  2024-09-17  671.58
48     1049  InvalidMethod  2024-09-18  140.77
49     1050    Credit Card  2024-09-19  437.15
50     1051    Credit Card         NaT     NaN
51     1052  InvalidMethod  2024-09-21  663.27
52     1053    Credit Card  2024-09-22  552.82
53     1054    Credit Card  2024-09-23  870.84
54     1055  InvalidMethod  2024-09-24  692.82
55     1056    Credit Card         NaT  246.64
56     1057    Credit Card  2024-09-26  163.51
57     1058  InvalidMethod  2024-09-27  678.18
58     1059    Credit Card  2024-09-28  123.86
59     1060    Credit Card  2024-09-29  627.20

# Step 2: Transform

## Fill missing values

As needed

In [135]:
productsDF = productsDF.fillna({
    "Description": "No description available",
    "Category": "Miscellaneous",
})

ordersDF = ordersDF.fillna({
    "TotalAmount": 0.0
})

paymentsDF = paymentsDF.fillna({
    "PaymentMethod": "Unknown",
    "Amount": 0.0,
    "PaymentDate": pd.Timestamp("1970-01-01")
})

In [136]:
paymentsDF

    OrderID  PaymentMethod PaymentDate  Amount
0      1001  InvalidMethod  1970-01-01    0.00
1      1002    Credit Card  2024-08-02  753.48
2      1003    Credit Card  2024-08-03  978.27
3      1004  InvalidMethod  2024-08-04  564.67
4      1005    Credit Card  2024-08-05  390.66
5      1006    Credit Card  1970-01-01  815.67
6      1007  InvalidMethod  2024-08-07  343.75
7      1008    Credit Card  2024-08-08  495.07
8      1009    Credit Card  2024-08-09  170.61
9      1010  InvalidMethod  2024-08-10  122.82
10     1011    Credit Card  1970-01-01    0.00
11     1012    Credit Card  2024-08-12  966.38
12     1013  InvalidMethod  2024-08-13  852.38
13     1014    Credit Card  2024-08-14  726.38
14     1015    Credit Card  2024-08-15  468.06
15     1016  InvalidMethod  1970-01-01  255.96
16     1017    Credit Card  2024-08-17  240.79
17     1018    Credit Card  2024-08-18  325.22
18     1019  InvalidMethod  2024-08-19  594.30
19     1020    Credit Card  2024-08-20  743.14
20     1021    Credit Card  1970-01-01    0.00
21     1022  InvalidMethod  2024-08-22  694.18
22     1023    Credit Card  2024-08-23  351.94
23     1024    Credit Card  2024-08-24  959.38
24     1025  InvalidMethod  2024-08-25  764.11
25     1026    Credit Card  1970-01-01  598.92
26     1027    Credit Card  2024-08-27  650.55
27     1028  InvalidMethod  2024-08-28  477.64
28     1029    Credit Card  2024-08-29  322.96
29     1030    Credit Card  2024-08-30  420.38
30     1031  InvalidMethod  1970-01-01    0.00
31     1032    Credit Card  2024-09-01  782.06
32     1033    Credit Card  2024-09-02  112.95
33     1034  InvalidMethod  2024-09-03  204.47
34     1035    Credit Card  2024-09-04  141.40
35     1036    Credit Card  1970-01-01  136.66
36     1037  InvalidMethod  2024-09-06  869.91
37     1038    Credit Card  2024-09-07  733.29
38     1039    Credit Card  2024-09-08  526.76
39     1040  InvalidMethod  2024-09-09  188.05
40     1041    Credit Card  1970-01-01    0.00
41     1042    Credit Card  2024-09-11  542.45
42     1043  InvalidMethod  2024-09-12  526.12
43     1044    Credit Card  2024-09-13  255.88
44     1045    Credit Card  2024-09-14  490.47
45     1046  InvalidMethod  1970-01-01  458.65
46     1047    Credit Card  2024-09-16  654.27
47     1048    Credit Card  2024-09-17  671.58
48     1049  InvalidMethod  2024-09-18  140.77
49     1050    Credit Card  2024-09-19  437.15
50     1051    Credit Card  1970-01-01    0.00
51     1052  InvalidMethod  2024-09-21  663.27
52     1053    Credit Card  2024-09-22  552.82
53     1054    Credit Card  2024-09-23  870.84
54     1055  InvalidMethod  2024-09-24  692.82
55     1056    Credit Card  1970-01-01  246.64
56     1057    Credit Card  2024-09-26  163.51
57     1058  InvalidMethod  2024-09-27  678.18
58     1059    Credit Card  2024-09-28  123.86
59     1060    Credit Card  2024-09-29  627.20

## Handle invalid emails

In the *Users* DataFrame

In [137]:
def generate_unique_email(index):
    return f"unknown{index}@example.com"

In [138]:
usersDF["Email"] = usersDF.apply(lambda row: row["Email"] if "@" in row["Email"] and "." in row["Email"] else generate_unique_email(row.name), axis=1)

- `usersDF.apply(..., axis=1)`:<br>
This applies a function row-wise across the DataFrame usersDF. Each row is passed to the `lambda` function.<br>
- `lambda row: ...`:<br>
This is an anonymous function that takes a row as input.<br>
- `row["Email"] if "@" in row["Email"] and "." in row["Email"]`:<br>
Checks if the email in the current row contains both "@" and ".", which are basic indicators of a valid email format.<br>
The lambda function checks whether the existing email value in `row["Email"]` contains both "@" and ".".<br>
If both conditions are met, it leaves the existing value unchanged — meaning it assumes the email is valid and keeps it as-is.<br>
Only if either condition fails (i.e., the email is missing "@" or "."), it replaces the value by calling `generate_unique_email(row.name)`.<br>
So the logic is essentially:
```
if "@" in email and "." in email:
    keep the email
else:
    generate a new one
```
- `else generate_unique_email(row.name)`:<br>
If the email is missing either "@" or ".", it calls a function `generate_unique_email()` using the row's index (`row.name`) to generate a new email.<br>
- `usersDF["Email"] = ...`:<br>
The result of the apply is assigned back to the *Email* column, effectively cleaning or replacing invalid emails.

## Ensure all prices are numeric

In [139]:
productsDF["Price"] = pd.to_numeric(productsDF["Price"], errors="coerce").fillna(0.0).round(2)

## Ensure all stock quantities are numeric

In [140]:
productsDF["StockQuantity"] = pd.to_numeric(productsDF["StockQuantity"], errors="coerce").fillna(0).astype(int)

In [141]:
productsDF

,ProductName,Description,Price,StockQuantity,Category
0,Contraption A,No description available,0.00,0,Miscellaneous
1,Tool B,A high-quality tool.,230.23,160,Apparatus
2,Machine C,A high-quality apparatus.,56.75,96,Apparatus
3,Device D,No description available,191.70,472,Widgets
4,Contraption E,A high-quality gadget.,337.73,233,Instruments
5,Appliance F,A high-quality appliance.,336.30,180,Miscellaneous
6,Gizmo G,No description available,299.74,113,Apparatus
7,Contraption H,A high-quality gadget.,144.61,318,Gizmos
8,Machine I,A high-quality appliance.,285.01,0,Tools
9,Device J,No description available,197.63,497,Tools
10,Tool K,A high-quality tool.,0.00,442,Miscellaneous
11,Machine L,A high-quality machine.,486.14,52,Gizmos
12,Machine M,No description available,425.97,268,Appliances
13,Gizmo N,A high-quality contraption.,363.65,295,Gizmos
14,Apparatus O,A high-quality instrument.,125.63,386,Gizmos
15,Device P,No description available,135.47,387,Miscellaneous
16,Gadget Q,A high-quality machine.,29.81,0,Tools
17,Machine R,A high-quality device.,358.22,113,Contraptions
18,Apparatus S,No description available,64.34,101,Tools
19,Gadget T,A high-quality gadget.,225.27,113,Instruments
20,Device U,A high-quality device.,0.00,440,Miscellaneous
21,Widget V,No description available,108.84,81,Widgets
22,Appliance W,A high-quality machine.,448.92,187,Machines
23,Apparatus X,A high-quality appliance.,242.93,113,Contraptions
24,Instrument Y,No description available,286.01,0,Gadgets
25,Widget Z,A high-quality instrument.,350.80,2,Miscellaneous
26,Appliance A,A high-quality instrument.,78.27,130,Machines
27,Gizmo B,No description available,306.16,220,Widgets
28,Contraption C,A high-quality widget.,274.52,54,Instruments
29,Tool D,A high-quality instrument.,109.50,343,Instruments
30,Instrument E,No description available,0.00,485,Miscellaneous
31,Gizmo F,A high-quality contraption.,472.00,224,Gadgets
32,Device G,A high-quality instrument.,303.44,0,Contraptions
33,Gizmo H,No description available,350.44,225,Appliances
34,Contraption I,A high-quality machine.,441.43,385,Gizmos
35,Device J,A high-quality widget.,315.93,403,Miscellaneous
36,Instrument K,No description available,154.86,126,Contraptions
37,Contraption L,A high-quality machine.,61.69,130,Appliances
38,Gadget M,A high-quality machine.,233.70,53,Instruments
39,Tool N,No description available,117.04,172,Tools
40,Instrument O,A high-quality gizmo.,0.00,0,Miscellaneous
41,Gadget P,A high-quality widget.,214.09,218,Widgets
42,Appliance Q,No description available,442.81,160,Gadgets
43,Instrument R,A high-quality machine.,168.93,198,Widgets
44,Appliance S,A high-quality gizmo.,69.82,416,Devices
45,Device T,No description available,184.59,247,Miscellaneous
46,Gadget U,A high-quality gizmo.,454.35,324,Devices
47,Tool V,A high-quality widget.,143.34,439,Contraptions
48,Contraption W,No description available,327.37,0,Instruments
49,Machine X,A high-quality device.,10.25,203,Instruments
50,Gizmo Y,A high-quality appliance.,0.00,184,Miscellaneous
51,Widget Z,No description available,182.76,123,Gizmos
52,Tool A,A high-quality contraption.,159.34,401,Gizmos
53,Gadget B,A high-quality appliance.,90.68,255,Gizmos
54,Machine C,No description available,271.70,294,Tools
55,Tool D,A high-quality instrument.,247.57,280,Miscellaneous
56,Gadget E,A high-quality contraption.,349.29,0,Machines
57,Apparatus F,No description available,142.01,325,Apparatus
58,Apparatus G,A high-quality instrument.,129.62,372,Machines
59,Appliance H,A high-quality machine.,92.46,98,Widgets

## Standardize and convert date formats to string

In [144]:
ordersDF["OrderDate"] = pd.to_datetime(ordersDF["OrderDate"],
                                       errors="coerce",
                                       format="%Y-%m-%d %H:%M:%S").fillna(pd.Timestamp("1970-01-01"))
ordersDF["OrderDate"] = ordersDF["OrderDate"].dt.strftime("%Y-%m-%d")

paymentsDF["PaymentDate"] = pd.to_datetime(paymentsDF["PaymentDate"],
                                       errors="coerce",
                                       format="%Y-%m-%d").fillna(pd.Timestamp("1970-01-01"))
paymentsDF["PaymentDate"] = paymentsDF["PaymentDate"].dt.strftime("%Y-%m-%d")

1. `pd.to_datetime(...)`<br>
This function converts strings or other date-like objects into pandas `datetime` objects. It's essential because:
    - It standardizes various date formats into a consistent datetime format.
    - It enables datetime operations like filtering by date, extracting year/month/day, sorting chronologically, etc.
`errors='coerce'` ensures that invalid date strings are converted to `NaT` (Not a Time), which are then replaced by '1970-01-01' using `.fillna(...)`.<br>

2. `.dt.strftime('%Y-%m-%d')`
After converting to datetime, this step formats the datetime objects back into strings in a specific format (YYYY-MM-DD). This is useful when:
    - You want to export or display the dates in a human-readable format.
    - **You need to ensure consistent string formatting for downstream systems or reports**.<br>

Why not just use one?<br>
If you skip `to_datetime()` and go straight to formatting, you risk:
- Misinterpreting date strings (e.g., '01-02-2023' could be Jan 2 or Feb 1 depending on locale).
- Losing the ability to handle invalid dates cleanly.
- Not being able to use datetime-specific operations before formatting.

# Step 3: Load

## Connect to MySQL database

In [147]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySql",
    database="ecommerce_db"
)
cursor = conn.cursor()

## Delete all records from Payments, Reviews, Orders, Users, and Products tables

In [148]:
tablesClearing = ["Payments", "Reviews", "Orders", "Users", "Products"]
for table in tablesClearing:
    cursor.execute(f"DELETE FROM {table}")
conn.commit()

## Insert data into Products table

In [149]:
INSERT_PRODUCTS = """
    INSERT INTO Products (ProductName, Description, Price, StockQuantity, Category)
    VALUES (%s, %s, %s, %s, %s)
"""
productIdMap = {}
for index, row in productsDF.iterrows():
    cursor.execute(INSERT_PRODUCTS,
                   (
                   row["ProductName"],
                   row["Description"],
                   row["Price"],
                   row["StockQuantity"],
                   row["Category"]
                   ))
    # Map old UserID index to the new UserID
    productIdMap[index + 1] = cursor.lastrowid
conn.commit()

**What `productIdMap[index] = cursor.lastrowid` does:**<br>
This line stores the ID of the newly inserted product into a dictionary called productIdMap, using the original DataFrame row index as the key.<br>
**Why it's needed:**<br>
When you insert a row into a MySQL table that has an auto-increment primary key (like *ProductID*), MySQL automatically generates a unique ID for that row. The `cursor.lastrowid` gives you that ID immediately after the insert.<br>
**This is useful because:**<br>
- You might need to reference this new ID later (e.g., to insert related data into another table).
- You're building a mapping between the original data (from productsDF) and the new database entries.

**Example:**<br>
Suppose productsDF has a row at index 42, and when you insert it into the database, MySQL assigns it ProductID = 105. Then:
```
productIdMap[42] = 105
```
Now you can use `productIdMap[42]` to retrieve the database ID for that product whenever needed.

In [150]:
productIdMap

{1: 244,
 2: 245,
 3: 246,
 4: 247,
 5: 248,
 6: 249,
 7: 250,
 8: 251,
 9: 252,
 10: 253,
 11: 254,
 12: 255,
 13: 256,
 14: 257,
 15: 258,
 16: 259,
 17: 260,
 18: 261,
 19: 262,
 20: 263,
 21: 264,
 22: 265,
 23: 266,
 24: 267,
 25: 268,
 26: 269,
 27: 270,
 28: 271,
 29: 272,
 30: 273,
 31: 274,
 32: 275,
 33: 276,
 34: 277,
 35: 278,
 36: 279,
 37: 280,
 38: 281,
 39: 282,
 40: 283,
 41: 284,
 42: 285,
 43: 286,
 44: 287,
 45: 288,
 46: 289,
 47: 290,
 48: 291,
 49: 292,
 50: 293,
 51: 294,
 52: 295,
 53: 296,
 54: 297,
 55: 298,
 56: 299,
 57: 300,
 58: 301,
 59: 302,
 60: 303}

## Insert data into Users table

In [151]:
INSERT_USERS = """INSERT INTO Users (UserName, Email, Address, Password)
    VALUES (%s, %s, %s, %s)
    """
userIdMap = {}
for index, row in usersDF.iterrows():
    cursor.execute(INSERT_USERS,
                   (row["UserName"], row["Email"], row["Address"], row["Password"])
                  )
    userIdMap[index + 1] = cursor.lastrowid
conn.commit()

In [152]:
userIdMap

{1: 43, 2: 44, 3: 45, 4: 46, 5: 47, 6: 48, 7: 49, 8: 50, 9: 51, 10: 52}

## Update Orders data with new UserIDs

In [153]:
ordersDF["UserID"] = ordersDF["UserID"].map(userIdMap)

## Insert data into Orders table

In [154]:
INSERT_ORDERS = """
    INSERT INTO Orders (UserID, OrderDate, TotalAmount)
    VALUES (%s, %s, %s)
    """
orderIdMap = {}
for index, row in ordersDF.iterrows():
    cursor.execute(INSERT_ORDERS,
                   (row["UserID"], row["OrderDate"], row["TotalAmount"])
                  )
    orderIdMap[index] = cursor.lastrowid
conn.commit()

In [155]:
orderIdMap

{0: 243,
 1: 244,
 2: 245,
 3: 246,
 4: 247,
 5: 248,
 6: 249,
 7: 250,
 8: 251,
 9: 252,
 10: 253,
 11: 254,
 12: 255,
 13: 256,
 14: 257,
 15: 258,
 16: 259,
 17: 260,
 18: 261,
 19: 262,
 20: 263,
 21: 264,
 22: 265,
 23: 266,
 24: 267,
 25: 268,
 26: 269,
 27: 270,
 28: 271,
 29: 272,
 30: 273,
 31: 274,
 32: 275,
 33: 276,
 34: 277,
 35: 278,
 36: 279,
 37: 280,
 38: 281,
 39: 282,
 40: 283,
 41: 284,
 42: 285,
 43: 286,
 44: 287,
 45: 288,
 46: 289,
 47: 290,
 48: 291,
 49: 292,
 50: 293,
 51: 294,
 52: 295,
 53: 296,
 54: 297,
 55: 298,
 56: 299,
 57: 300,
 58: 301,
 59: 302}

## Map the new OrderIDs to paymentsDF

In [156]:
paymentsDF

    OrderID  PaymentMethod PaymentDate  Amount
0      1001  InvalidMethod  1970-01-01    0.00
1      1002    Credit Card  2024-08-02  753.48
2      1003    Credit Card  2024-08-03  978.27
3      1004  InvalidMethod  2024-08-04  564.67
4      1005    Credit Card  2024-08-05  390.66
5      1006    Credit Card  1970-01-01  815.67
6      1007  InvalidMethod  2024-08-07  343.75
7      1008    Credit Card  2024-08-08  495.07
8      1009    Credit Card  2024-08-09  170.61
9      1010  InvalidMethod  2024-08-10  122.82
10     1011    Credit Card  1970-01-01    0.00
11     1012    Credit Card  2024-08-12  966.38
12     1013  InvalidMethod  2024-08-13  852.38
13     1014    Credit Card  2024-08-14  726.38
14     1015    Credit Card  2024-08-15  468.06
15     1016  InvalidMethod  1970-01-01  255.96
16     1017    Credit Card  2024-08-17  240.79
17     1018    Credit Card  2024-08-18  325.22
18     1019  InvalidMethod  2024-08-19  594.30
19     1020    Credit Card  2024-08-20  743.14
20     1021    Credit Card  1970-01-01    0.00
21     1022  InvalidMethod  2024-08-22  694.18
22     1023    Credit Card  2024-08-23  351.94
23     1024    Credit Card  2024-08-24  959.38
24     1025  InvalidMethod  2024-08-25  764.11
25     1026    Credit Card  1970-01-01  598.92
26     1027    Credit Card  2024-08-27  650.55
27     1028  InvalidMethod  2024-08-28  477.64
28     1029    Credit Card  2024-08-29  322.96
29     1030    Credit Card  2024-08-30  420.38
30     1031  InvalidMethod  1970-01-01    0.00
31     1032    Credit Card  2024-09-01  782.06
32     1033    Credit Card  2024-09-02  112.95
33     1034  InvalidMethod  2024-09-03  204.47
34     1035    Credit Card  2024-09-04  141.40
35     1036    Credit Card  1970-01-01  136.66
36     1037  InvalidMethod  2024-09-06  869.91
37     1038    Credit Card  2024-09-07  733.29
38     1039    Credit Card  2024-09-08  526.76
39     1040  InvalidMethod  2024-09-09  188.05
40     1041    Credit Card  1970-01-01    0.00
41     1042    Credit Card  2024-09-11  542.45
42     1043  InvalidMethod  2024-09-12  526.12
43     1044    Credit Card  2024-09-13  255.88
44     1045    Credit Card  2024-09-14  490.47
45     1046  InvalidMethod  1970-01-01  458.65
46     1047    Credit Card  2024-09-16  654.27
47     1048    Credit Card  2024-09-17  671.58
48     1049  InvalidMethod  2024-09-18  140.77
49     1050    Credit Card  2024-09-19  437.15
50     1051    Credit Card  1970-01-01    0.00
51     1052  InvalidMethod  2024-09-21  663.27
52     1053    Credit Card  2024-09-22  552.82
53     1054    Credit Card  2024-09-23  870.84
54     1055  InvalidMethod  2024-09-24  692.82
55     1056    Credit Card  1970-01-01  246.64
56     1057    Credit Card  2024-09-26  163.51
57     1058  InvalidMethod  2024-09-27  678.18
58     1059    Credit Card  2024-09-28  123.86
59     1060    Credit Card  2024-09-29  627.20

In [157]:
paymentsDF["OrderID"] = paymentsDF.index.map(orderIdMap)

In [158]:
paymentsDF

    OrderID  PaymentMethod PaymentDate  Amount
0       243  InvalidMethod  1970-01-01    0.00
1       244    Credit Card  2024-08-02  753.48
2       245    Credit Card  2024-08-03  978.27
3       246  InvalidMethod  2024-08-04  564.67
4       247    Credit Card  2024-08-05  390.66
5       248    Credit Card  1970-01-01  815.67
6       249  InvalidMethod  2024-08-07  343.75
7       250    Credit Card  2024-08-08  495.07
8       251    Credit Card  2024-08-09  170.61
9       252  InvalidMethod  2024-08-10  122.82
10      253    Credit Card  1970-01-01    0.00
11      254    Credit Card  2024-08-12  966.38
12      255  InvalidMethod  2024-08-13  852.38
13      256    Credit Card  2024-08-14  726.38
14      257    Credit Card  2024-08-15  468.06
15      258  InvalidMethod  1970-01-01  255.96
16      259    Credit Card  2024-08-17  240.79
17      260    Credit Card  2024-08-18  325.22
18      261  InvalidMethod  2024-08-19  594.30
19      262    Credit Card  2024-08-20  743.14
20      263    Credit Card  1970-01-01    0.00
21      264  InvalidMethod  2024-08-22  694.18
22      265    Credit Card  2024-08-23  351.94
23      266    Credit Card  2024-08-24  959.38
24      267  InvalidMethod  2024-08-25  764.11
25      268    Credit Card  1970-01-01  598.92
26      269    Credit Card  2024-08-27  650.55
27      270  InvalidMethod  2024-08-28  477.64
28      271    Credit Card  2024-08-29  322.96
29      272    Credit Card  2024-08-30  420.38
30      273  InvalidMethod  1970-01-01    0.00
31      274    Credit Card  2024-09-01  782.06
32      275    Credit Card  2024-09-02  112.95
33      276  InvalidMethod  2024-09-03  204.47
34      277    Credit Card  2024-09-04  141.40
35      278    Credit Card  1970-01-01  136.66
36      279  InvalidMethod  2024-09-06  869.91
37      280    Credit Card  2024-09-07  733.29
38      281    Credit Card  2024-09-08  526.76
39      282  InvalidMethod  2024-09-09  188.05
40      283    Credit Card  1970-01-01    0.00
41      284    Credit Card  2024-09-11  542.45
42      285  InvalidMethod  2024-09-12  526.12
43      286    Credit Card  2024-09-13  255.88
44      287    Credit Card  2024-09-14  490.47
45      288  InvalidMethod  1970-01-01  458.65
46      289    Credit Card  2024-09-16  654.27
47      290    Credit Card  2024-09-17  671.58
48      291  InvalidMethod  2024-09-18  140.77
49      292    Credit Card  2024-09-19  437.15
50      293    Credit Card  1970-01-01    0.00
51      294  InvalidMethod  2024-09-21  663.27
52      295    Credit Card  2024-09-22  552.82
53      296    Credit Card  2024-09-23  870.84
54      297  InvalidMethod  2024-09-24  692.82
55      298    Credit Card  1970-01-01  246.64
56      299    Credit Card  2024-09-26  163.51
57      300  InvalidMethod  2024-09-27  678.18
58      301    Credit Card  2024-09-28  123.86
59      302    Credit Card  2024-09-29  627.20

## Insert data into Payments table

In [159]:
INSERT_PAYMENTS = """INSERT INTO Payments (OrderID, PaymentMethod, PaymentDate, Amount)
    VALUES (%s, %s, %s, %s)
    """
for index, row in paymentsDF.iterrows():
    cursor.execute(INSERT_PAYMENTS,
                   (row["OrderID"], row["PaymentMethod"], row["PaymentDate"], row["Amount"])
                  )
conn.commit()

## Map the new UserIDs and ProductIDs to reviewsDF

In [160]:
reviewsDF

    ProductID  UserID         Rating      ReviewText
0          27       3  InvalidRating  Great product!
1          20       4              2  Great product!
2          24       2              5  Great product!
3          12       1              5  Great product!
4          50       7              5  Great product!
5          35       8              3  Great product!
6          60       7              5  Great product!
7          33       5  InvalidRating             NaN
8          33       1              1  Great product!
9          51       7              4  Great product!
10         43       7              1  Great product!
11         37       9              1  Great product!
12         12       3              5  Great product!
13          3       9              4  Great product!
14          1       1  InvalidRating             NaN
15         33       1              4  Great product!
16         40       4              4  Great product!
17         10       9              3  Great product!
18         43       6              5  Great product!
19         44       3              4  Great product!
20         29       1              3  Great product!
21         13       4  InvalidRating             NaN
22         12       9              2  Great product!
23         31       3              2  Great product!
24         46       9              3  Great product!
25          2       7              3  Great product!
26         51       4              5  Great product!
27         50       3              5  Great product!
28         35      10  InvalidRating             NaN
29         23       5              2  Great product!
30         17       5              4  Great product!
31         26       3              2  Great product!
32          8       9              4  Great product!
33         29       4              4  Great product!
34         26       5              5  Great product!
35         10       4  InvalidRating             NaN
36         26       5              1  Great product!
37         34       7              1  Great product!
38         51       9              3  Great product!
39         41       7              5  Great product!
40          7       5              4  Great product!
41          4      10              1  Great product!
42         58      10  InvalidRating  Great product!
43         53       7              4  Great product!
44         50      10              1  Great product!
45         45       5              1  Great product!
46         11       3              1  Great product!
47         29       7              5  Great product!
48         56       2              2  Great product!
49         36       9  InvalidRating  Great product!
50         25      10              4  Great product!
51         21      10              5  Great product!
52         57       1              5  Great product!
53         36       6              5  Great product!
54         10       7              5  Great product!
55         37       8              5  Great product!
56          9      10  InvalidRating  Great product!
57         24       9              3  Great product!
58         35       2              4  Great product!
59         49      10              5  Great product!

In [161]:
reviewsDF["UserID"] = reviewsDF["UserID"].map(userIdMap)
reviewsDF["ProductID"] = reviewsDF["ProductID"].map(productIdMap)

In [162]:
reviewsDF

    ProductID  UserID         Rating      ReviewText
0         270      45  InvalidRating  Great product!
1         263      46              2  Great product!
2         267      44              5  Great product!
3         255      43              5  Great product!
4         293      49              5  Great product!
5         278      50              3  Great product!
6         303      49              5  Great product!
7         276      47  InvalidRating             NaN
8         276      43              1  Great product!
9         294      49              4  Great product!
10        286      49              1  Great product!
11        280      51              1  Great product!
12        255      45              5  Great product!
13        246      51              4  Great product!
14        244      43  InvalidRating             NaN
15        276      43              4  Great product!
16        283      46              4  Great product!
17        253      51              3  Great product!
18        286      48              5  Great product!
19        287      45              4  Great product!
20        272      43              3  Great product!
21        256      46  InvalidRating             NaN
22        255      51              2  Great product!
23        274      45              2  Great product!
24        289      51              3  Great product!
25        245      49              3  Great product!
26        294      46              5  Great product!
27        293      45              5  Great product!
28        278      52  InvalidRating             NaN
29        266      47              2  Great product!
30        260      47              4  Great product!
31        269      45              2  Great product!
32        251      51              4  Great product!
33        272      46              4  Great product!
34        269      47              5  Great product!
35        253      46  InvalidRating             NaN
36        269      47              1  Great product!
37        277      49              1  Great product!
38        294      51              3  Great product!
39        284      49              5  Great product!
40        250      47              4  Great product!
41        247      52              1  Great product!
42        301      52  InvalidRating  Great product!
43        296      49              4  Great product!
44        293      52              1  Great product!
45        288      47              1  Great product!
46        254      45              1  Great product!
47        272      49              5  Great product!
48        299      44              2  Great product!
49        279      51  InvalidRating  Great product!
50        268      52              4  Great product!
51        264      52              5  Great product!
52        300      43              5  Great product!
53        279      48              5  Great product!
54        253      49              5  Great product!
55        280      50              5  Great product!
56        252      52  InvalidRating  Great product!
57        267      51              3  Great product!
58        278      44              4  Great product!
59        292      52              5  Great product!

## Filter out rows with invalid ratings

In [167]:
reviewsDF["Rating"] = pd.to_numeric(reviewsDF["Rating"], errors="coerce")
reviewsDF.dropna(subset=["Rating", "ProductID", "UserID"], inplace=True)

In [168]:
reviewsDF

    ProductID  UserID  Rating      ReviewText
1         263      46     2.0  Great product!
2         267      44     5.0  Great product!
3         255      43     5.0  Great product!
4         293      49     5.0  Great product!
5         278      50     3.0  Great product!
6         303      49     5.0  Great product!
8         276      43     1.0  Great product!
9         294      49     4.0  Great product!
10        286      49     1.0  Great product!
11        280      51     1.0  Great product!
12        255      45     5.0  Great product!
13        246      51     4.0  Great product!
15        276      43     4.0  Great product!
16        283      46     4.0  Great product!
17        253      51     3.0  Great product!
18        286      48     5.0  Great product!
19        287      45     4.0  Great product!
20        272      43     3.0  Great product!
22        255      51     2.0  Great product!
23        274      45     2.0  Great product!
24        289      51     3.0  Great product!
25        245      49     3.0  Great product!
26        294      46     5.0  Great product!
27        293      45     5.0  Great product!
29        266      47     2.0  Great product!
30        260      47     4.0  Great product!
31        269      45     2.0  Great product!
32        251      51     4.0  Great product!
33        272      46     4.0  Great product!
34        269      47     5.0  Great product!
36        269      47     1.0  Great product!
37        277      49     1.0  Great product!
38        294      51     3.0  Great product!
39        284      49     5.0  Great product!
40        250      47     4.0  Great product!
41        247      52     1.0  Great product!
43        296      49     4.0  Great product!
44        293      52     1.0  Great product!
45        288      47     1.0  Great product!
46        254      45     1.0  Great product!
47        272      49     5.0  Great product!
48        299      44     2.0  Great product!
50        268      52     4.0  Great product!
51        264      52     5.0  Great product!
52        300      43     5.0  Great product!
53        279      48     5.0  Great product!
54        253      49     5.0  Great product!
55        280      50     5.0  Great product!
57        267      51     3.0  Great product!
58        278      44     4.0  Great product!
59        292      52     5.0  Great product!

## Insert data into Reviews table

In [169]:
INSERT_REVIEWS = """INSERT INTO Reviews (ProductID, UserID, Rating, ReviewText)
    VALUES (%s, %s, %s, %s)
    """
for index, row in reviewsDF.iterrows():
    cursor.execute(INSERT_REVIEWS,
                   (row["ProductID"], row["UserID"], row["Rating"], row["ReviewText"])
                  )
conn.commit()

# Final verification

In [170]:
def verify_table_count(table_name, expected_count):
    cursor.execute(f"SELECT COUNT(*) FROM {table_name}")
    count = cursor.fetchone()[0]
    if count == expected_count:
        print(f"{table_name} verification passed: {count} records.")
    else:
        print(f"{table_name} verification failed: Expected {expected_count}, but found {count}.")

1. `cursor.execute(f"SELECT COUNT(*) FROM {table_name}")` returns a single row with the count number of the entries in the table.<br>
2. `cursor.fetchone()` retrieves the first row of the result set returned by the query.
3. `[0]` accesses the first column of that first row.

In [171]:
verify_table_count('Products', len(productsDF))
verify_table_count('Users', len(usersDF))
verify_table_count('Orders', len(ordersDF))
verify_table_count('Payments', len(paymentsDF))
verify_table_count('Reviews', len(reviewsDF))

Products verification passed: 60 records.
Users verification passed: 10 records.
Orders verification passed: 60 records.
Payments verification passed: 60 records.
Reviews verification passed: 51 records.